<div class="main">
    <div class="content">
        <div class="title-bar">
            <h1>Edit Record</h1>
            <%= link_to raw('&larr; Home'), '/' %>
        </div>
        <%= form_with(model: @record, local: true) do |form| %>
            <h3>Identifiers</h3>
            <% @fields_by_group[:identifiers].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Descriptive</h3>
            <% @fields_by_group[:descriptive].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Credits</h3>
            <% @fields_by_group[:credits].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Categories</h3>
            <% @fields_by_group[:categories].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Temporal</h3>
            <% @fields_by_group[:temporal].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Spatial</h3>
            <% @fields_by_group[:spatial].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Relations</h3>
            <% @fields_by_group[:relations].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Rights</h3>
            <% @fields_by_group[:rights].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Objects</h3>
            <% @fields_by_group[:object].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Links</h3>
            <% @fields_by_group[:links].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <h3>Admin</h3>
            <% @fields_by_group[:admin].each do |field| %>
                <%= render :partial => 'universal_widget', :locals => {"field": field, "form": form} %>
            <% end %>
            <div class="form-group">
                <%= form.submit class: 'form-control btn-primary' %>
            </div>
        <% end %>
    </div>
    <div class="side-panel">
        <%= render('records/side-panel-data-entry') %>
    </div>
</div>