<div class="main">
  <div class="content" style="width:100%;">
    <h1>Places metadata test area</h1>
    <p>This app is meant to serve as a light-weight bridge between draft <a href="https://opengeometadata.org/ogm-aardvark">OGM Aardvark</a> metadata and a fully functional GeoBlacklight installation.</p>
    <p>You create and edit metadata records here, and then paste the generated JSON directly into your SOLR installation, the search backend of GeoBlacklight. You can then find the record immediately reflected in your in your GeoBlacklight installation, and see what it looks like/how it behaves in the default search interface.</p>
    <ol>
      <li>Create or edit a record</li>
      <li>Use <code>Get SOLR</code> to get a SOLR document in JSON</li>
      <li>Copy the raw JSON (exact details may depend on your browser)</li>
      <li>Go to your SOLR backend (e.g. 
      http://your-domain:8983/solr/#/blacklight-core/documents), paste in the JSON content and click <code>Submit</code></li>
      <li>Find and view the record in GeoBlacklight</li>
    </ol>
    <%= link_to raw('Create new record &rarr;'), new_record_path %>
    <% if @records.present? %>
      <div class="row justify-content-center">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Id</th>
              <th scope="col" colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <tr>
                <td><%= record.dct_title_s %></td>
                <td><%= record.gbl_id %></td>
                <!-- <td><%= link_to 'Show', record_path(record.id) %></td> -->
                <td><%= link_to 'Edit', edit_record_path(record.id) %></td>
                <td><%= link_to 'Get JSON', record_path(record.id)+".json" %></td>
                <!-- <td><%= link_to 'Delete',
                    record_path(record.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                </td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="p-3 mb-2 bg-light text-dark">
        <span class="text-info font-weight-bold">Welcome! </span>
        Create your first record
      </div>
    <% end %>
  </div>
  <div class="side-panel">
    <%= render('records/side-panel-data-entry') %>
  </div>
</div>